<!DOCTYPE html>
<html>

  <head>
    <title>FCC Request Header Parser Microservice</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container">
      <h1>freeCodeCamp Backend API Projects - Request Header Parser Microservice</h1>
      <h3>Simple API to return a browser's IP address, language, and operating system</h3>
        
      <h3>Example usage:<br>
        <code class="example">https://ms1-rhp-micro.glitch.me/api/whoami/</code><br>
        <br>
        Example output:<br>
        <code class="example">{ "ipaddress":"12.231.183.198", "language":"en-US", "software":"Windows NT 10.0; Win64; x64" }</code>
        </h3>
      </div>
   </body>

</html>
